#galery {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

#container {
    display: flex;
    flex-wrap: wrap;
    place-content: center space-between;
    width: 50vw;
    height: 40vw;
    background-size: cover !important;
    transition-property: background-image;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 60ms;
    border-style: solid;
    border-width: 0.6vw;
    border-image: url(/image/navbar_background.png) 100 round;
}

.galery-arrow {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 0vw 1vw 0vw 1vw;
    align-content: space-around;
    opacity: 0%;
    font-size: 4vw;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: linear;
}