@font-face {
    font-family: redressed;
    src: url(/font/redressed.ttf);
}

html {
    font-family:'Raleway', sans-serif;
}

input[type=text]:focus {
    outline: none;
  }

body {
    margin:0;
    padding:0;
    background: url(/image/body_background.png);
}

#content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

@media (min-width: 1200px) {

}

@media (min-width: 992px) {

  
}

@media (min-width: 750px) {

}

@media (min-width: 500px) {

}

@media (min-width: 300px) {
    #content{
        padding-top: 20vh;
    }

    .content {
        height: 80vh;
    }

    #about-us > div > p {
        margin-top: 2vh;
        margin-bottom: 2vh;
        text-align: justify;
        font-size: 3vw;
    }

    #about-us > div p > img {
        width: 80vw;
    }
}